# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# Generated Android files
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDEs
.idea/
*.iml
.vscode/

# Operating systems
.DS_Store
Thumbs.db

# Logs
*.log
